
body{
  background-color: #ddd;
  font-size: 16px;
}

textarea {
  width: 90%;
  border-width: 0px 0px 1px 0px;
  padding:3px;
}
textarea:focus{
  outline: none;
}
line{
  width: 100%;
}
.focus textarea {
  background-color: #ffd;
}
.h1 textarea{
  font-size: x-large;
  border: solid #33f;
  border-width: 1px 1px 1px 10px;
}
.h2 textarea{
  font-size: large;
  border: solid #33f;
  border-width: 1px 1px 1px 5px;
}
.h3 textarea{
  font-size: medium;
  border: solid #33f;
  border-width: 1px 1px 1px 1px;
}
